body {
  background-color: black;
}

.logo-container {
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#netflix-logo {
  width: 0;
  opacity: 0;
  transition: all 2s ease-in-out;
}
